@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap');

html {
   --color-text: #fff;
   --color-pagina: #252525;   
}

/*Header*/
header > nav > ul > li {
    display: inline-block;
    margin: 5px;
}

body {
    background-color: var(--color-pagina);
    color: var(--color-text);
    font-family: 'Montserrat', sans-serif;
}

body > header > h1 {
    font-weight: 500;
}

body > header {
    text-align: center;
}

/*Section*/
main > section > h2 {
    border: 1px solid var(--color-text);
    text-align: center;
    font-weight: 400;
}

main > section li, main > section p {
    font-weight: 300;
}

main > section:first-of-type > ul > li > span {
    font-weight: bold;
}

main > section:first-of-type ul li:first-child{
    margin-bottom: 15px;
}

/*Footer*/
footer { 
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}






